<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common}">
<head>
  <title layout:fragment="title">제보게시판</title>
  <link layout:fragment="styles" rel="stylesheet" th:href="@{/css/board/report.css}" />
</head>
<body>
<!-- Main Content -->
<div layout:fragment="content">
  <div class="main-container">
    <div class="article-list">
      <article class="article-item" style="cursor: pointer;" onclick="location.href='/report-detail'">
        <div class="article-thumbnail">
          <img src="/images/Cafe1.png" alt="카페 인테리어">
        </div>
        <div class="article-content">
          <h2 class="article-title">성수동 20년 토박이 추천 베스트 카페 모음집</h2>
          <p class="article-description">
            내가 놀러고 작성한 백업용인 추천장이며 개인적 심정 수 있을 반박시 님말이 다 맞을 ㅇㅇ<br>
            나 성수도 20년 토박이 인데 내가 가봤고고 학교 다님때부터 단골이 카페만정들만 골라서 올렸다
          </p>
        </div>
        <div class="article-meta">
          <span class="article-author">상수카페터</span>
          <span class="article-date">2022-05-18</span>
        </div>
      </article>

      <article class="article-item">
        <div class="article-thumbnail">
          <img src="/images/Cafe2.png" alt="카페 인테리어">
        </div>
        <div class="article-content">
          <h2 class="article-title">성수동 20년 토박이 추천 베스트 카페 모음집</h2>
          <p class="article-description">
            내가 놀러고 작성한 백업용인 추천장이며 개인적 심정 수 있을 반박시 님말이 다 맞을 ㅇㅇ<br>
            나 성수도 20년 토박이 인데 내가 가봤고고 학교 다님때부터 단골이 카페만정들만 골라서 올렸다
          </p>
        </div>
        <div class="article-meta">
          <span class="article-author">상수카페터</span>
          <span class="article-date">2022-05-18</span>
        </div>
      </article>

      <article class="article-item">
        <div class="article-thumbnail">
          <img src="/images/Cafe3.png" alt="카페 인테리어">
        </div>
        <div class="article-content">
          <h2 class="article-title">성수동 20년 토박이 추천 베스트 카페 모음집</h2>
          <p class="article-description">
            내가 놀러고 작성한 백업용인 추천장이며 개인적 심정 수 있을 반박시 님말이 다 맞을 ㅇㅇ<br>
            나 성수도 20년 토박이 인데 내가 가봤고고 학교 다님때부터 단골이 카페만정들만 골라서 올렸다
          </p>
        </div>
        <div class="article-meta">
          <span class="article-author">상수카페터</span>
          <span class="article-date">2022-05-18</span>
        </div>
      </article>

      <article class="article-item">
        <div class="article-thumbnail">
          <img src="/images/Cafe4.png" alt="카페 인테리어">
        </div>
        <div class="article-content">
          <h2 class="article-title">성수동 20년 토박이 추천 베스트 카페 모음집</h2>
          <p class="article-description">
            내가 놀러고 작성한 백업용인 추천장이며 개인적 심정 수 있을 반박시 님말이 다 맞을 ㅇㅇ<br>
            나 성수도 20년 토박이 인데 내가 가봤고고 학교 다님때부터 단골이 카페만정들만 골라서 올렸다
          </p>
        </div>
        <div class="article-meta">
          <span class="article-author">상수카페터</span>
          <span class="article-date">2022-05-18</span>
        </div>
      </article>

      <article class="article-item">
        <div class="article-thumbnail">
          <img src="/images/Cafe5.png" alt="카페 인테리어">
        </div>
        <div class="article-content">
          <h2 class="article-title">성수동 20년 토박이 추천 베스트 카페 모음집</h2>
          <p class="article-description">
            내가 놀러고 작성한 백업용인 추천장이며 개인적 심정 수 있을 반박시 님말이 다 맞을 ㅇㅇ<br>
            나 성수도 20년 토박이 인데 내가 가봤고고 학교 다님때부터 단골이 카페만정들만 골라서 올렸다
          </p>
        </div>
        <div class="article-meta">
          <span class="article-author">상수카페터</span>
          <span class="article-date">2022-05-18</span>
        </div>
      </article>

      <article class="article-item">
        <div class="article-thumbnail">
          <img src="/images/Cafe6.png" alt="카페 인테리어">
        </div>
        <div class="article-content">
          <h2 class="article-title">성수동 20년 토박이 추천 베스트 카페 모음집</h2>
          <p class="article-description">
            내가 놀러고 작성한 백업용인 추천장이며 개인적 심정 수 있을 반박시 님말이 다 맞을 ㅇㅇ<br>
            나 성수도 20년 토박이 인데 내가 가봤고고 학교 다님때부터 단골이 카페만정들만 골라서 올렸다
          </p>
        </div>
        <div class="article-meta">
          <span class="article-author">상수카페터</span>
          <span class="article-date">2022-05-18</span>
        </div>
      </article>

      <article class="article-item">
        <div class="article-thumbnail">
          <img src="/images/Cafe7.png" alt="카페 인테리어">
        </div>
        <div class="article-content">
          <h2 class="article-title">성수동 20년 토박이 추천 베스트 카페 모음집</h2>
          <p class="article-description">
            내가 놀러고 작성한 백업용인 추천장이며 개인적 심정 수 있을 반박시 님말이 다 맞을 ㅇㅇ<br>
            나 성수도 20년 토박이 인데 내가 가봤고고 학교 다님때부터 단골이 카페만정들만 골라서 올렸다
          </p>
        </div>
        <div class="article-meta">
          <span class="article-author">상수카페터</span>
          <span class="article-date">2022-05-18</span>
        </div>
      </article>
    </div>

    <!-- Pagination -->
    <div class="pagination">
      <a href="#">«</a>
      <a href="#">‹</a>
      <a href="#" class="current">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">›</a>
      <a href="#">»</a>
    </div>
  </div>
</div>
</body>
</html>